/* doc font design */
body{
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive,Arial, Helvetica, sans-serif;
  font-size: 23px;
  text-shadow: 5px 5px 5px rgb(194, 166, 77);
}
.home{
margin-top: 89px;
}
div{  
  margin-top: 20px;
}
/* links design */
a{
  text-decoration: none;
  color: black;
}
/* hover links design */
a:hover{
  color: rgb(145, 196, 226);
  /* font-size: 120%; */
  text-shadow: 5px 5px 5px rgb(194, 166, 77);
}
.head a:active{ 
  background-color: black;
  color: white;
}
.head{ 
  z-index: 1;
  height: 50px;
  box-shadow: 0px 0px 20px #000000a8;
  top: 0;
  position: fixed;
  width: 100%;
  background-image:linear-gradient(rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0.705)), url("images/cover.jpg");
  background-size: 350px;
  padding-top: 20px;
  font-size: 35px;
}
.head img{  
  float: left;
  margin-top: -40px;
  margin-left: 20px;
  width: 110px;
  height: auto;
  }
  .head a{
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: -1px 1px 0 #000,
    5px 5px 5px rgb(194, 166, 77),
    5px 5px 5px rgb(194, 166, 77);
  }
  
.gallery{
opacity: 75%;
text-align: center;
text-shadow: 0px 0px 0px rgb(194, 166, 77);
margin-top: 89px;
padding-right: 15px;
font-size: 120%;
background-image:linear-gradient(rgba(153, 14, 14, 0.267), rgba(35, 12, 168, 0.486)), url("images/gallerywall.jpg");
background-size: 20%;
border-top: 3px double black;
border-bottom: 3px double black;;
}
.gallery img{
  opacity: 80%;
  padding: 30px;
  height: auto;
  width: 300px;
  border-radius: 13%;
  filter: grayscale(90%);
}
.gallery img:hover{
  opacity: 100%;
filter: grayscale(0%);
}

.footer{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-image:linear-gradient(rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0.705)), url("images/cover.jpg");
  background-size: 30%;
  border-top: 3px double black;
  border-bottom: 3px double black;
  text-align: center;
  clear: both;
  display: table;
}
.footer a img{
float: left;
padding-right: 20px;
padding-left: 20px;
}
.footer a{
  text-shadow: -1px 1px 0 #000,
  2px 2px 5px rgb(194, 166, 77),
  2px 2px 2px rgb(194, 166, 77);
}
  
